/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color, #353430);
  font-family: var(--main-font, sans-serif);
  padding: 10px;
}  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.title { 
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--title-weight, 700);
  line-height: var(--title-line-height, 95.7px);
  text-align: start;
  color: var(--header-title-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.title-decor { 
  font-family: inherit;
  color: var(--title-color, #000028);
  font-size: var(--text-size, 18px);
  font-weight: var(--title-weight, 700);
  line-height: var(--line-height, 23.4px);
  background-color: var(--accent-color, #FF0070);
  margin-block-start: 1.1em;
  margin-block-end: 0.5em;
}

.header .title-decor { 
  margin-block-start: 14.7vw;
  margin-block-end: 8.26vw;
  max-inline-size: 491px;
  display: block;
  justify-self: end;
}

.decorated-zone {
  display: grid;
  margin: 0;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
  display: block;
  justify-self: end;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
  display: block;
  justify-self: start;
  margin-block-end: 10px;
}  

.decor-element {
  color: var(--accent-color,  #FF0070);
  position: absolute;
  justify-self: end;
  margin-right: 9px;
  visibility: var(--visibility, visible);
}

.decor-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 1ch;
  margin-left: 10px;
  margin-top: 8px;
  background-color: var(--accent-color,  #FF0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color,  #FF0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style: none;
  display: grid;
  gap: 10px;
  margin-block-start: 17.3vw;
  margin-block-end: 17.3vw;
}

.header__theme-menu-button {
  color: var(--accent-color, #FF0070);
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size, 18px);
  font-weight: var(--text-weight, 400);
  background-color: transparent;
  border: none;
  width: 70px;
  height: 26px;
  margin: 0;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color,  #FF0070);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color,  #FF0070);
}

.transparent { 
  background-color: transparent;
  color: var(--accent-color,  #FF0070);
  margin-block-start: 2.2em;
  margin-block-end: 1em;
}

.regular {
  font-weight: var(--text-weight, 400);
}

.content-paragraph{
  font-family: inherit;
  font-size: var(--text-size, 18px);
  font-weight: var(--text-weight, 400);
  line-height: var(--line-height, 23.4px);
}

.content-paragraph a {
  color: var(--text-color, #F1B2CE);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color,  #FF0070);
}

.content-paragraph a:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.content-paragraph a:focus {
  outline: none;
}

.content-paragraph a:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.content-rows {
  margin-block-end: 3em;
}

.content-colums {
  margin-block-end: 3em;
}

.pictures {
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
}

.pictures img {
  display: block;
  max-inline-size: 100%;
  margin-inline: auto;
}

.footer {
  display: grid;
  margin: 0;
  margin-block-start: 3em;
}

.footer .title {
  margin-block-start: calc(50vh - 70px);
  margin-block-end: calc(50vh - 70px);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  margin-inline: auto;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color,  #FF0070);
  border-right: 1px solid var(--accent-color,  #FF0070);
  display: block;
  justify-self: end;
  position: absolute;
}

.footer::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color,  #FF0070);
  border-left: 1px solid var(--accent-color,  #FF0070);
  display: block;
  justify-self: start;

}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .title { 
    font-family: inherit;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header .title-decor { 
    inline-size: 48vw;
    margin-block-start: 21.1vw;
    margin-block-end: 15.36vw;
  }

  .header__theme-menu-list {
    margin-block-start: 25vw;
    margin-block-end: 22.5vw;
  }

  .decorated-zone::after {
    margin-block-end: 20px;
  }  

  .transparent {
    margin-block-start: 1.1em;
  }

  .content-rows {
    display: grid;  
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "transparent rows";
    gap: 20px;
    margin-block-start: 2.5em;
    margin-block-end: 5em;
  }

  .content-colums {
    margin-block-start: 5em;
    margin-block-end: 3.75em;
  }  

  .content-colums .transparent {
    max-inline-size: 30vw;
  }

  .pictures {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1.7fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    box-sizing: border-box;
    margin-block-start: 20px;
  }
  
  img {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit:cover;
  }
  
  img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
 
  img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 5em;
  }

  .footer .title {
    margin-block-start: calc(50vh - 80px);
    margin-block-end: calc(50vh - 80px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin:0;
  }
  
  .header .title-decor { 
    margin-block-start: 14.84vh;
    margin-block-end: 11.6vw;
  }

  .header__theme-menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-block-start: 0;
    margin-block-end: 35.55vh;
  }

  .content-colums {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 1fr; 
    gap: 20px;
  }  

  .content-colums .transparent {
    grid-column: 1 / 4;
  }
  .footer .title {
    margin-block-start: calc(50vh - 80px);
    margin-block-end: calc(50vh - 80px);
  }
}  