/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --title-weight: 700;
  --text-weight: 400;
  --text-size: 18px;
  --main-font: "IBM Plex mono";
  --title-line-height: 95.7px;
  --line-height: 23.4px;
  --bg-image: url("./images/cover-image-dark.png");
}
